/* LOGIN PAGE */

.bodyLogin {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 15%;
}

.devLogo {
    max-width: 526px;
    min-width: 342px;
    padding: 0 35px 0 0;
}

.devLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 35px;
}

.loginTittle {
    max-width: 433px;
    font-size: 50px;
    margin-bottom: 37px;
}

.loginSubTittle {
    max-width: 433px;
    font-size: 24px;
    margin-bottom: 38px;
}

.copyText {
    color: #60265B;
    font-size: 18px;
    margin-top: 165px;
}

/*FEED PAGE */

.navBar {
    display: flex;
    justify-content: space-between;
    background: #250C23;
    padding: 10px 350px;
    /*hay formas de poner margin manteniendo el color?*/
}

.textSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #150714;
    padding: 20px 20px;
}

/*COMPONENTE DEL CAMPO PARA ESCRIBIR EL TWEET*/

.textInputStyle {
    display: flex;
    flex-direction: column;
}

.inputFieldStyle {
    font-size: 20px;
    font-family: FiraCode-Regular;
    color: #FFFFFF;
    background: #2F112D;
    width: 500px;
    height: 113px;
    resize: none;
    border-image: none;
    border-style: none;
}

.inputFieldStyle::placeholder {
    color: #914D8B;
}

.profileStyleFeed {
    max-width: 56px;
    min-width: 56px;
    border-radius: 50%;
    padding: 0 15px 0 0;
}

.infInputStyle {
    font-family: FiraCode-Regular;
    font-size: 16px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submitInputStyle {
    font-family: Silkscreen-Bold;
    font-size: 20px;
    color: #150714;
    background: #2F112D;
    width: 102px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    margin-left: 404px;
}

.submitInputStyle:hover {
    background: chartreuse;
}

.submitInputStyle:focus{
    background: cornflowerblue;
}

.submitInputStyle:active{
    background: crimson;
}

/*COMPONENTE DEL TWEET*/

.tweetSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.tweetFieldStyle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 571px;
}


.infTweetStyle {
    display: flex;
    justify-content: space-between;
}

.showTweetStyle {
    width: 500px;
    max-height: 136px;
    font-family: Fira Code;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3333333432674408px;
    text-align: left;
    margin: 17px 0 25px;
}

.infNameTime {
    display: flex;
    flex-flow: row;
}

.deleteStyle{
    color: #FFFFFF;
    cursor: pointer;
}

